<!doctype html>

<html>
    <head>
        <title>Document Title</title>

        <meta charset="utf-8" />
        <link
            rel="icon"
            href="/static/favicon.ico"
        />
        <link
            rel="stylesheet"
            href="/static/style.css"
        />
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    </head>
    <body>
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
        cillum sint consectetur cupidatat.
    </body>
</html>
